<script type="text/javascript" src="/lib/compass.js"></script>
<nav>
    <div class = "nav-item current" id = "top">
        <a href="index.html">
            <img src="/images/shipIcon.png"><span class = "hover">Where To?</span>
        </a>
    </div>
    <div class = "nav-item" id ="left">
        <a href="webdesign.html">
            <img src="/images/webDesignIcon.png"><span class = "hover">web design</span>
        </a>
    </div>
    <div class = "nav-item" id ="bottom">
        <a href="aboutme.html"><img src="/images/pusheen-sushi.jpg"><span class = "hover">about</span></a>
    </div>
    <div class = "nav-item" id ="right">
        <a href="other.html">
            <img src="/images/ship.png"><span class = "hover">other</span>
        </a>
    </div>
    <div class="center"></div>
</nav>