<!DOCTYPE html>
<html lang="en">

	<head>
		<% include('../partials/header.ejs') %>
		<link rel="stylesheet" type="text/css" href="/styles/other.css">
	</head>

	<body>
		<% include('../partials/compass.ejs') %>
        
        
        <p>web dev
            <a href="squares">
                <div class="container">
                    <img src="images/squaresThumbnail.PNG?raw=true"
                        alt="" class="image" style="width:60%">
                    <div class="middle">
                        <div class="text">Dancing Squares</div>
                    </div>
                </div>
            </a>

            <a href="txtadventure">
                <div class="container">
                    <img src="images/txtadventureThumbnail.PNG?raw=true"
                        alt="" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Text Adventure</div>
                    </div>
                </div>
            </a>

            <a href="https://github.com/dozingpip/disformer">
                <div class="container">
                    <img src="images/disformer.PNG?raw=true"
                        alt="An example disformer level, score 0, health at 3, that uses lorem ipsum text." class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Disformer</div>
                    </div>
                </div>
            </a>
        unity
            <a href="https://github.com/dozingpip/Indecent-Descent---Unity">
                <div class="container">
                    <img src="images/indecentDescent.PNG?raw=true"
                        alt="A character falling to the next level of Indecent Descent" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">Indecent Descent</div>
                    </div>
                </div>
            </a>
        graphics
            <a href = "https://github.com/dozingpip/Jump_Man_Guy_Thing">
                <div class="container">
                    <img src="images/jump_guy.PNG"
                        alt="A stick figure walking on a sloped platform" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">jump man guy thing</div>
                    </div>
                </div>
            </a>
        jpg-like compression/ decompression (411)
        <p>

		<% include('../partials/footer.ejs') %>
	</body>
</html>