<!DOCTYPE html>
<html lang="en">

	<head>
		<% include('../partials/header.ejs') %>
		<link rel="stylesheet" type="text/css" href="/styles/other.css">
	</head>

	<body>
		<% include('../partials/compass.ejs') %>
        <p>origami game - current challenges, thoughts
        hackerrank challenges
        https://www.hackerrank.com/profile/pipdonnelly
        open source contributions
        https://github.com/dozingpip
        Terraria Community Team<p>

		<% include('../partials/footer.ejs') %>
	</body>
</html>