<!DOCTYPE html>
<html lang="en">

	<head>
		<% include ../partials/header.ejs) %>
		<link rel="stylesheet" type="text/css" href="/styles/other.css">
	</head>

	<body>
		<% include ../partials/compass.ejs %>
        <p>origami game - current challenges, thoughts
        hackerrank challenges
        https://www.hackerrank.com/stephdonnelly1
        open source contributions
        https://github.com/freestraws
        Terraria Community Team<p>

		<% include ../partials/footer.ejs %>
	</body>
</html>