<!DOCTYPE html>
<html lang="en">

	<head>
		<% include('../partials/header.ejs') %>
		<link rel="stylesheet" type="text/css" href="/styles/home.css">
	</head>

	<body>
		<h1>Hi.</h1>
		<div class = "nav-container">
			<%- include('../partials/compass.ejs') %>
		</div>

		<% include('../partials/footer.ejs') %>
	</body>
</html>