<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name ="viewport" content="width=device-width, initial-scale=1">
	<title>Things and Stuff</title>
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link rel="../stylesheet" href="../styles/normalize.css">
	<link rel="../stylesheet" href="../styles/origami.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../scripts/compass.js"></script>
</head>

<body>
  <header>
    <nav>
  		<div class = "nav-item" id = "top">
				<a href="index.html">
					<img src="../images/shipIcon.png"><span class = "hover">Where To?</span>
				</a>
			</div>
  		<div class = "nav-item" id ="left">
				<a href="webdesign.html">
					<img src="../images/webDesignIcon.png"><span class = "hover">web design</span>
				</a>
			</div>
  		<div class = "nav-item current" id ="bottom">
				<a href="origami.html"><img src="../images/crane.png"><span class = "hover">origami</span></a>
			</div>
  		<div class = "nav-item" id ="right">
				<a href="aboutme.html">
					<img src="../images/pusheen-sushi.jpg"><span class = "hover">about</span>
				</a>
			</div>
			<div class="center"></div>
  	</nav>
  </header>

  <main>
    <div class ="origami">
			<p>Some origami models I've completed. The designs are not my own, so click the pictures for a link to how I learned to make it:</p>
			<ul>
					<li>
						<figure><a href="http://www.origami-instructions.com/origami-lily.html"><img src="../images/lily.jpg">
						<figcaption>Lily</figcaption></a></figure>
					<li>
						<figure><a href="http://www.origami-instructions.com/origami-cherry-blossom.html"><img src="../images/cherryblossom.jpg">
						<figcaption>Cherry Blossom</figcaption></a></figure>
					</li>
					<li>
						<figure><a href="https://www.youtube.com/watch?v=h72MgBOXC9Y"><img src="../images/sakuraStar.jpg">
						<figcaption>Sakura Star</figcaption></a></figure>
					</li>
          <li>
						<figure><a href="http://www.origami-instructions.com/origami-traditional-lotus.html"><img src="../images/lotus.jpg">
						<figcaption>Lotus <span class = "paren">(the blue flower)</span></figcaption></a></figure>
					</li>
          <li>
						<figure><a href="http://www.origami-instructions.com/origami-sunken-omuta-rose.html"><img src="../images/omutaLily.jpg">
						<figcaption>Omuta Rose <span class = "paren">(it's the green underneath, the others are lilies)</span></figcaption></a></figure>
					</li>
					<li>
						<figure><a href="http://www.origami-instructions.com/origami-magic-rose-cube.html"><img src="../images/magicCube.gif">
						<figcaption>Magic Rose Cube</figcaption></a></figure>
					</li>
			</ul>
		</div>
  </main>

	<footer>
		<p>Stephanie Donnelly</p>
	</footer>
</body>
</html>
