<!DOCTYPE html>
<html lang="en">

	<head>
		<% include('../partials/header.ejs') %>
		<link rel="stylesheet" type="text/css" href="/styles/other.css">
	</head>

	<body>
        <% include('../partials/compass.ejs') %>

        <div class="chinese">
            <p>我也会说中文！我的中文名字是唐诗。我四年以前在大学开始学习中文。</p>
        </div>

        <div class ="origami">
			<p>Some origami models I've completed. The designs are not my own, so click the pictures for a link to how I learned to make it:</p>
			<ul>
					<li>
						<figure><a href="http://www.origami-instructions.com/origami-lily.html"><img src="../images/lily.jpg">
						<figcaption>Lily</figcaption></a></figure>
					<li>
						<figure><a href="http://www.origami-instructions.com/origami-cherry-blossom.html"><img src="../images/cherryblossom.jpg">
						<figcaption>Cherry Blossom</figcaption></a></figure>
					</li>
					<li>
						<figure><a href="https://www.youtube.com/watch?v=h72MgBOXC9Y"><img src="../images/sakuraStar.jpg">
						<figcaption>Sakura Star</figcaption></a></figure>
					</li>
                    <li>
						<figure><a href="http://www.origami-instructions.com/origami-traditional-lotus.html"><img src="../images/lotus.jpg">
						<figcaption>Lotus <span class = "paren">(the blue flower)</span></figcaption></a></figure>
					</li>
                    <li>
						<figure><a href="http://www.origami-instructions.com/origami-sunken-omuta-rose.html"><img src="../images/omutaLily.jpg">
						<figcaption>Omuta Rose <span class = "paren">(it's the green underneath, the others are lilies)</span></figcaption></a></figure>
					</li>
					<li>
						<figure><a href="http://www.origami-instructions.com/origami-magic-rose-cube.html"><img src="../images/magicCube.gif">
						<figcaption>Magic Rose Cube</figcaption></a></figure>
					</li>
			</ul>
		</div>

        <div class="gaming">
            <p>I also play video games in my spare time, mostly on PC and Nintendo Switch.
             I would also like to develop my own games eventually as well.</p>
        </div>
        
		<% include('../partials/footer.ejs') %>
	</body>
</html>