<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" href="styles/squares.css">
	<script src="lib/squares.js"></script>
	<script src="lib/music.js"></script>
</head>

<body>
	<iframe width="1" height="1" src="https://www.youtube.com/embed/uehXrM2xe8c?autoplay=1&loop=1&playlist=uehXrM2xe8c" frameborder="0"></iframe>
	<% include ../partials/compass.ejs %>
	<div id ="contain"></div>
	<% include ../partials/footer.ejs %>
</body>
</html>
