<!DOCTYPE html>
<html lang="en">

	<head>
		<% include('../partials/header.ejs') %>
		<link rel="stylesheet" type="text/css" href="/styles/other.css">
	</head>

	<body>
		<% include('../partials/compass.ejs') %>
        <p> makerspace
                projects
                    slices
                    unity intro event
                tutorials
                https://space.apps.uri.edu/wiki/index.php/Virtual_Reality


            ai lab
                Little Fe
                http://littlefe.net/
                https://photos.google.com/photo/AF1QipM-ACymlndJXtiW897gyqrVGh6FjbREBbG9KD7q
                TurtleBot 3
                http://emanual.robotis.com/docs/en/platform/turtlebot3/overview/
                Mechano (https://photos.google.com/photo/AF1QipNwf_J4nuI47u5qjIjajIdiHckoCKpjs-hxL-Vl)
            rite-solutions
            <p>

		<% include('../partials/footer.ejs') %>
	</body>
</html>