@import url("compass.css");


html {
  background: var(--bcolor);
  height:auto;
  margin:0;
  font-family: Sans-Serif;
  color: #0f0f0f;
}

ul{
  list-style-type: none;
}


main a{
	text-decoration:none;
	font-size:150%;
}

figure{
	width: 25%;
	float:left;
	margin:0;
	padding: 5px;
  border-radius:10px;
}

figure img{
	max-width: 100%;
}

footer{
  position: absolute;
  right:5px;
  bottom:0;
}

footer p{
  padding:0;
  margin:0;
}
